<!DOCTYPE HTML>
<html>
<head>
    <title>NodeStar</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<header>
    <h2>Registration Form</h2>
</header>
<div id="regForm">
<form action="/user/create" method="POST">
	<label for="username_input">Username</label>
	<input type="text" id="username_input" name="username">
	<label for="email_input">Email</label>
	<input type="text" id="email_input" name="email">
	<label for="password_input">Password</label>
	<input type="text" id="password_input" name="password">
	<input type="submit" name="Submit" value="Register">
</form>
</div>
</body>
</html>